<footer class="footer">
  <div class="container">
    <div class="flex-row has-margin-bottom-25">
      <div class="footer-item">
        <div class="footer-logo" routerLink="/">
          <img src="../../../assets/img/svg/polog-logo.svg"/>
        </div>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column">
        <div class="footer-item">
          <div class="content">
            <div class="subtitle">Соцсети</div>
            <div class="footer-links">
              <a href="#" class="link">Вконтакте</a> / <a href="#" class="link">Twitter</a> / <a href="#" class="link">Instagram</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <div class="subtitle">Соцсети</div>
          <div class="footer-links">
            <a href="#" class="link"
               routerLink="elements"
               routerLinkActive="active">Элементы</a> /
            <a href="#" class="link"
               routerLink="components"
               routerLinkActive="active">Компоненты</a> /
            <a href="#" class="link"
               routerLink="typography"
               routerLinkActive="active">Типографика</a> /
            <a href="#" class="link"
               routerLink="pages"
               routerLinkActive="active">Страницы</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <div class="subtitle">Другое</div>
          <div class="footer-links">
            <a href="#" class="link">Помощь</a> / <a href="#" class="link">Обратная связь</a> / <a href="#" class="link">Оферта</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
