<main class="pages wrapper">
  <div class="pages-container container">
    <h1 class="title has-border-bottom">Страницы</h1>
    <div class="content">
      <div class="columns is-desktop">
        <div class="column">
          <div class="box is-route is-full-height" routerLink="/pages/survey-page">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#fa-poll-symbol-on-black-square-with-rounded-corners"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Опросы</h4>
                  <p class="subtitle">Страница опросов</p>
                </div>
              </div>
            </article>
          </div>
        </div>

        <div class="column">
          <div class="box is-route is-full-height" routerLink="">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#fa-donut_large"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Результаты</h4>
                  <p class="subtitle">Страница результатов</p>
                </div>
              </div>
            </article>
          </div>
        </div>

        <div class="column">
          <div class="box is-route is-full-height" routerLink="/pages/news">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#fa-article"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Новости</h4>
                  <p class="subtitle">Адаптивная страница новостей</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="columns is-desktop">
        <div class="column is-one-third-desktop">
          <div class="box is-route is-full-height" routerLink="/pages/article">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#fa-article"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Статья</h4>
                  <p class="subtitle">Пример статьи</p>
                </div>
              </div>
            </article>
          </div>
        </div>

        <div class="column is-one-third-desktop">
          <div class="box is-route is-full-height" routerLink="/pages/profile">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#fa-user-outline"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Личный кабинет</h4>
                  <p class="subtitle">Страница личного кабинета с настройками</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
