<div class="mat-dialog-box">
  <div class="content">
    <h4 class="title" mat-dialog-title>Диалоговое окно</h4>
    <div mat-dialog-content>
      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam eaque est hic ipsum iste iure, magni maiores minima molestiae odit placeat praesentium sed suscipit tempora tempore tenetur vitae voluptatum.</p>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <div class="buttons">
      <button class="button is-outlined" mat-button mat-dialog-close mat-dialog-close="false">Нет</button>
      <button class="button is-primary" mat-button mat-dialog-close>Да</button>
    </div>
  </mat-dialog-actions>
</div>
