<main class="components wrapper">
  <div class="components-container container">
    <h1 class="title has-border-bottom">Компоненты</h1>
    <div class="content">
      <div class="columns is-desktop">
        <div class="column">
          <div class="box is-route is-full-height" routerLink="/components/survey">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#fa-circle-with-check-symbol"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Формы опросов</h4>
                  <p class="subtitle">Все виды форм опросов, как step-by-step (плеер), так и стандартные вертикальные формы</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
