<main class="icons wrapper">
  <div class="icons-container container">
    <div class="side">
      <ul class="list">
        <li class="list-item"><a href="elements/icons#iconography" class="link">Иконки</a></li>
        <!--<li class="list-item"><a href="elements/icons#howto" class="link">Как ползьзоваться</a></li>-->
      </ul>
    </div>
    <div class="content">
      <h1 class="title" id="iconography">Иконки</h1>
      <div class="columns is-mobile">
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-add-plus-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-add-plus-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-attachment-clip"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-attachment-clip</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-blank-check-box"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-blank-check-box</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-bookmark-outline"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-bookmark-outline</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-bookmark-ribbon"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-bookmark-ribbon</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-check-symbol"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-check-symbol</div>
            </div>
          </div>
        </div>
      </div>


      <!--line-2-->
      <div class="columns is-mobile">
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-circle-outline"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-circle-outline</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-circle-with-check-symbol"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-circle-with-check-symbol</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-close"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-close</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-expand-arrow"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-expand-arrow</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-keyboard-left-arrow-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-keyboard-left-arrow-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-keyboard-right-arrow-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-keyboard-right-arrow-button</div>
            </div>
          </div>
        </div>
      </div>


      <!--line 3-->
      <div class="columns is-mobile">
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-expand-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-expand-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-favorite-heart-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-favorite-heart-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-favorite-heart-outline-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-favorite-heart-outline-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-filter-results-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-filter-results-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-go-back-left-arrow"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-go-back-left-arrow</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-right-arrow-forward"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-right-arrow-forward</div>
            </div>
          </div>
        </div>

      </div>


      <!--line 4-->
      <div class="columns is-mobile">
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-menu-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-menu-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-move-window"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-move-window</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-refresh-button-1"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-refresh-button-1</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-horizontal-line-remove-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-horizontal-line-remove-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-round-delete-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-round-delete-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-rounded-add-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-rounded-add-button</div>
            </div>
          </div>
        </div>
      </div>

      <!--line 5-->
      <div class="columns is-mobile">
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-schedule-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-schedule-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-send-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-send-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-show-more-button-with-three-dots"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-show-more-button-with-three-dots</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-three-dots-more-indicator"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-three-dots-more-indicator</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-undo-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-undo-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-unlocked-padlock"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-unlocked-padlock</div>
            </div>
          </div>
        </div>
      </div>

      <!--line 6-->
      <div class="columns is-mobile">
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-user-outline"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-user-outline</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-user-shape"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-user-shape</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-write-email-envelope-button"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-write-email-envelope-button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#modal"></use>
                </svg>
              </div>
              <div class="icon-sign">#modal</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#popup"></use>
                </svg>
              </div>
              <div class="icon-sign">#popup</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#forms"></use>
                </svg>
              </div>
              <div class="icon-sign">#forms</div>
            </div>
          </div>
        </div>
      </div>

      <!--line 7-->
      <div class="columns is-mobile">
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#button"></use>
                </svg>
              </div>
              <div class="icon-sign">#button</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-flag-dot"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-flag-dot</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-dns"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-dns</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-navigation"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-navigation</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-settings"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-settings</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-person_outline"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-person_outline</div>
            </div>
          </div>
        </div>
      </div>

      <!--line 8-->
      <div class="columns is-mobile">
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-exit_to_app"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-exit_to_app</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-donut_large"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-donut_large</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-article"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-article</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-help_outline"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-help_outline</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-insert_emoticon"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-insert_emoticon</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-gps_fixed"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-gps_fixed</div>
            </div>
          </div>
        </div>
      </div>

      <!--line 9-->
      <div class="columns is-mobile">
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-show_chart"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-show_chart</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-scatter_plot"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-scatter_plot</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-poll-symbol-on-black-square-with-rounded-corners"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-poll-symbol-on-black-square-with-rounded-corners</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-pie_chart"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-pie_chart</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-multiline_chart"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-multiline_chart</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-filter_alt"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-filter_alt</div>
            </div>
          </div>
        </div>
      </div>

      <!--line 10-->
      <div class="columns is-mobile">
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-calendar_today"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-calendar_today</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-bubble_chart"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-bubble_chart</div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-2-tablet is-half-mobile">
          <div class="card card-outlined">
            <div class="card-content">
              <div class="icon-box">
                <svg class="icon icon-large">
                  <use xlink:href="#fa-search"></use>
                </svg>
              </div>
              <div class="icon-sign">#fa-search</div>
            </div>
          </div>
        </div>
      </div>
      <!--<a class="title is-4 is-spaced anchor-title" id="howto">Как пользоваться</a>-->
    </div>
  </div>
</main>
