<div class="mat-dialog-box is-medium">
  <div class="mat-dialog-close" mat-dialog-close>
    <svg class="icon" width="12px" height="12px">
      <use xlink:href="#fa-close"></use>
    </svg>
  </div>
  <div class="content">
    <h4 class="title title-primary" mat-dialog-title>Результат опроса</h4>
    <div mat-dialog-content>
      <p class="subtitle">Краткие результаты опроса о потребительском спросе</p>
      <div class="card card-outlined">
        <div class="card-content">
          <h4 class="title">1. Как часто вы покупаете продукты?</h4>
          <div class="survey-result">
            <div class="survey-result-item">
              <div class="survey-result-percent">{{progress1}}%</div>
              <mat-progress-bar class="survey-result-progress" [value]="progress1"></mat-progress-bar>
              <div class="survey-result-name">Часто</div>
            </div>

            <div class="survey-result-item">
              <div class="survey-result-percent">{{progress2}}%</div>
              <mat-progress-bar class="survey-result-progress" [value]="progress2"></mat-progress-bar>
              <div class="survey-result-name">Редко</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-outlined">
        <div class="card-content">
          <h4 class="title">2. Каким образом вы покупаете продукты?</h4>
          <div class="survey-result">
            <div class="survey-result-item">
              <div class="survey-result-percent">{{progress3}}%</div>
              <mat-progress-bar class="survey-result-progress" [value]="progress3"></mat-progress-bar>
              <div class="survey-result-name">Через интернет магазин</div>
            </div>

            <div class="survey-result-item">
              <div class="survey-result-percent">{{progress4}}%</div>
              <mat-progress-bar class="survey-result-progress" [value]="progress4"></mat-progress-bar>
              <div class="survey-result-name">В сетевых магазинах оффлайн</div>
            </div>
            <div class="survey-result-item">
              <div class="survey-result-percent">{{progress5}}%</div>
              <mat-progress-bar class="survey-result-progress" [value]="progress5"></mat-progress-bar>
              <div class="survey-result-name">На рынке</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-outlined">
        <div class="card-content">
          <h4 class="title">1. Как часто вы покупаете продукты?</h4>
          <div class="survey-result">
            <div class="survey-result-item">
              <div class="survey-result-percent">{{progress6}}%</div>
              <mat-progress-bar class="survey-result-progress" [value]="progress6"></mat-progress-bar>
              <div class="survey-result-name">Мясные продукты</div>
            </div>
            <div class="survey-result-item">
              <div class="survey-result-percent">{{progress7}}%</div>
              <mat-progress-bar class="survey-result-progress" [value]="progress7"></mat-progress-bar>
              <div class="survey-result-name">Овощи и фрукты</div>
            </div>
            <div class="survey-result-item">
              <div class="survey-result-percent">{{progress8}}%</div>
              <mat-progress-bar class="survey-result-progress" [value]="progress8"></mat-progress-bar>
              <div class="survey-result-name">Молочные продукты</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <div class="buttons">
      <button class="button" mat-button mat-dialog-close mat-dialog-close="false">Закрыть</button>
      <button class="button is-primary" mat-button mat-dialog-close>Тоже закрыть</button>
    </div>
  </mat-dialog-actions>
</div>
