<nav class="navbar has-shadow" id="navbar">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-burger burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="navbar-item">
        <img src="../../../assets/img/svg/polog-logo.svg"/>
      </div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item navbar-search">
          <div class="search-container">
            <input class="search-input" type="text" placeholder="Поиск" />
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <a href="" class="navbar-item">Опросы</a>
        <a href="" class="navbar-item">Результаты</a>
        <a href="" class="navbar-item">Новости</a>
        <a href="" class="navbar-item">О проекте</a>
        <div class="navbar-item navbar-auth">
          <button class="button is-small is-info is-outlined">Войти</button>
        </div>
      </div>
    </div>
  </div>
</nav>
