<main class="modals wrapper">
  <div class="modals-container container">
    <div class="side">
      <ul class="list">
        <li class="list-item"><a href="elements/buttons#types" class="link">Обычная модалка</a></li>
      </ul>
    </div>
    <div class="content">
      <h1 class="title">Модальные окна</h1>
      <div class="subtitle">Классическое модальное окно с оверлеем. Адаптивно и можно использовать любой тип контента</div>
      <button class="button" (click)="openDialog()">Открыть диалоговое окно</button>
    </div>
  </div>
</main>
