<main class="typo wrapper">
  <div class="typo-container container">
    <h1 class="title has-border-bottom">Типографика</h1>

    <!--Заголовки-->
    <a id="titles" class="title is-4 is-spaced anchor-title">Заголовки</a>
    <div class="content">
      <h1 class="title">Заголовок 1</h1>
      <h2 class="title">Заголовок 2</h2>
      <h3 class="title">Заголовок 3</h3>
      <h4 class="title">Заголовок 4</h4>
      <h5 class="title">Заголовок 5</h5>
      <h6 class="title">Заголовок 6</h6>
    </div>

    <!--Параграфы-->
    <a id="paragraphs" class="title is-4 is-spaced anchor-title">Параграфы</a>
    <div class="content">
      <p class="paragraph">Почти десять лет прошло с того утра, когда Дурсли обнаружили на своем пороге невесть откуда взявшегося племянника, но Тисовая улица за это время почти не изменилась.</p>
      <p class="paragraph">Солнце вставало над теми же ухоженными садиками и освещало ту же самую бронзовую четверку на входной двери дома Дурслей; оно пробиралось в гостиную, оставшуюся почти неизменной с того вечера, когда мистер Дурсль смотрел по телевизору пророческий выпуск новостей.</p>
    </div>

    <!--Маркированный список-->
    <a id="list" class="title is-4 is-spaced anchor-title">Маркированный список</a>
    <div class="content">
      <ul>
        <li><strong>Гарри Поттер</strong> — Мальчик, который выжил</li>
        <li><strong>Рональд Уизли</strong> — Мальчик, который рыжий</li>
        <li><strong>Гермиона Грейнджер</strong> — Wingardium LeviOsa | Wingardium LeviosA</li>
      </ul>
    </div>

    <!--Нумерованный список-->
    <a id="num-list" class="title is-4 is-spaced anchor-title">Нумерованный список</a>
    <div class="content">
      <ol>
        <li><strong>Гарри Поттер</strong> — Мальчик, который выжил</li>
        <li><strong>Рональд Уизли</strong> — Мальчик, который рыжий</li>
        <li><strong>Гермиона Грейнджер</strong> — Wingardium LeviOsa | Wingardium LeviosA</li>
      </ol>
    </div>

    <!--Ссылки-->
    <a id="links" class="title is-4 is-spaced anchor-title">Ссылки</a>
    <div class="content">
      <ul>
        <li><a href="#" class="link">Гарри Поттер и Философский камень</a></li>
        <li><a href="#" class="link">Гарри Поттер и Тайная комната</a></li>
        <li><a href="#" class="link">Гарри Поттер и Узник Азкабана</a></li>
        <li><a href="#" class="link">Гарри Поттер и Кубок огня</a></li>
        <li><a href="#" class="link">Гарри Поттер и Сопротивление материалов</a></li>
        <li><a href="#" class="link">Гарри Поттер и Принц полукровка</a></li>
        <li><a href="#" class="link">Гарри Поттер и Дары Смерти</a></li>
      </ul>
    </div>

    <!--Тэги, курсив, жирный текст-->
    <a id="typo-options" class="title is-4 is-spaced anchor-title">Тэги, курсив, жирный текст</a>
    <div class="content">
      <div class="content-row">
        <span class="footnote has-margin-right-5">tagname</span>
        <span class="footnote has-margin-right-5">Несколько слов</span>
        <span class="footnote has-margin-right-5">очень длинный тэг с <a href="#" class="link">ссылкой</a> внутри</span>
      </div>
      <div class="content-row">
        <ol>
          <li>Гарри Поттер и <strong>жирный текст</strong></li>
          <li>Гарри Поттер и <em>курсивный текст</em></li>
          <li>Гарри Поттер и <strong><em>жирный курсивный текст</em></strong></li>
          <li>Гарри Поттер и <span class="footnote">тэг внутри</span></li>
        </ol>
      </div>
    </div>

    <!--Пример-->
    <a id="example" class="title is-4 is-spaced anchor-title">Пример</a>
    <div class="content">
      <h2 class="title">Глава 1. Мальчик, который выжил</h2>
      <p class="paragraph">Мистер и миссис <em>Дурсль</em> проживали в доме номер четыре по Тисовой улице и всегда с гордостью заявляли, что они, слава богу, абсолютно нормальные люди. Уж от кого-кого, а от них никак нельзя было ожидать, чтобы они попали в какую-нибудь странную или загадочную ситуацию. Мистер и миссис <em>Дурсль</em> весьма неодобрительно относились к любым странностям, загадкам и прочей ерунде.</p>
      <p class="paragraph"><strong>Мистер <em>Дурсль</em></strong> возглавлял фирму под названием <em>«Граннингс»</em>, которая специализировалась на производстве дрелей. Это был полный мужчина с очень пышными усами и очень короткой шеей. Что же касается миссис <em>Дурсль</em>, она была тощей блондинкой с шеей почти вдвое длиннее, чем положено при ее росте. Однако этот недостаток пришелся ей весьма кстати, поскольку большую часть времени миссис <em>Дурсль</em> следила за соседями и подслушивала их разговоры. А с такой шеей, как у нее, было очень удобно заглядывать за чужие заборы. У мистера и миссис <em>Дурсль</em> был маленький сын по имени Дадли, и, по их мнению, он был самым чудесным ребенком на свете.</p>
      <h3 class="title">Действующие лица</h3>
      <ul>
        <li><strong>Вернон Дурсль</strong> — муж родной тётки Гарри Поттера с материнской стороны. Магл до мозга костей, человек, совершенно лишённый воображения</li>
        <li><strong>Петуния Дурсль</strong> — старшая дочь Мистера и Миссис Эванс, сестра маглорожденной волшебницы Лили Эванс.
          В отличие от сестры, не обладала волшебными способностями и очень расстраивалась из-за этого</li>
        <li><strong>Дадли Дурсль</strong> — двоюродный брат Гарри Поттера, старше его на месяц. На его одиннадцатый День рождения случилось неприятное происшествие с удавом, после которого Гарри Поттера наказали «до наступления летних каникул».</li>
      </ul>
    </div>
  </div>
</main>
