<main class="survey-page wrapper">
  <div class="survey-page-container container">
    <div class="content">
      <div class="page-headline">
        <h2 class="title">Текущие опросы</h2>
      </div>
      <div class="columns">
        <div class="column">
          <a class="survey-card card">
            <div class="card-header">
              <span class="tag has-margin-right-5">Опрос</span>
              <div class="tag-group tag-group-column">
                <div class="tag tag-transparent is-right">20 вопросов</div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-header-title">Книги какого жанра вы предпочитаете?</div>
              <p class="paragraph">Опрос населения о том, книги какого жанра наиболее популярно</p>
            </div>
            <div class="card-content-image">
              <img src="https://fakeimg.pl/440x440/282828/eae0d0/?retina=1"/>
            </div>
            <div class="card-footer">
              <div class="buttons is-flexible is-fullwidth">
                <button class="button is-primary">Пройти опрос</button>
              </div>
            </div>
          </a>
        </div>
        <div class="column">
          <a class="survey-card card">
            <div class="card-header">
              <span class="tag has-margin-right-5">Опрос</span>
              <div class="tag-group tag-group-column">
                <div class="tag tag-transparent is-right">20 вопросов</div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-header-title">Книги какого жанра вы предпочитаете?</div>
              <p class="paragraph">Опрос населения о том, книги какого жанра наиболее популярно</p>
            </div>
            <div class="card-content-image">
              <img src="https://fakeimg.pl/440x320/282828/eae0d0/?retina=1"/>
            </div>
            <div class="card-footer">
              <div class="buttons is-flexible is-fullwidth">
                <button class="button is-primary">Пройти опрос</button>
              </div>
            </div>
          </a>
        </div>
        <div class="column">
          <a class="survey-card card">
            <div class="card-header">
              <span class="tag tag-green">Опрос пройден</span>
              <div class="tag-group tag-group-column">
                <div class="tag tag-transparent is-right">20 вопросов</div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-header-title">Книги какого жанра вы предпочитаете?</div>
              <p class="paragraph">Опрос населения о том, книги какого жанра наиболее популярно</p>
            </div>
            <div class="card-content-image">
              <img src="https://fakeimg.pl/320x440/282828/eae0d0/?retina=1"/>
            </div>
            <div class="card-footer">
              <div class="buttons is-flexible is-fullwidth">
                <button class="button is-green">Результаты</button>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <a class="survey-card card type-2">
            <div class="card-header">
              <span class="tag tag-green">Опрос пройден</span>
              <div class="tag-group tag-group-column">
                <div class="tag tag-transparent is-right">20 вопросов</div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-header-title">Книги какого жанра вы предпочитаете?</div>
              <p class="paragraph">Опрос населения о том, книги какого жанра наиболее популярно</p>
            </div>
            <div class="card-footer">
              <div class="buttons is-flexible is-fullwidth">
                <button class="button is-green">Результаты</button>
              </div>
            </div>
          </a>
        </div>

        <div class="column">
          <a class="survey-card card type-2">
            <div class="card-header">
              <span class="tag">Опрос</span>
              <div class="tag-group tag-group-column">
                <div class="tag tag-transparent is-right">20 вопросов</div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-header-title">Книги какого жанра вы предпочитаете?</div>
              <p class="paragraph">Опрос населения о том, книги какого жанра наиболее популярно</p>
            </div>
            <div class="card-footer">
              <div class="buttons is-flexible is-fullwidth">
                <button class="button is-primary">Пройти опрос</button>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <a class="survey-card card">
            <div class="card-header">
              <span class="tag tag-green">Опрос пройден</span>
              <div class="tag-group tag-group-column">
                <div class="tag tag-transparent is-right">20 вопросов</div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-header-title">Книги какого жанра вы предпочитаете?</div>
              <p class="paragraph">Опрос населения о том, книги какого жанра наиболее популярно</p>
            </div>
            <div class="card-content-image">
              <img src="https://fakeimg.pl/320x440/282828/eae0d0/?retina=1"/>
            </div>
            <div class="card-footer">
              <div class="buttons is-flexible is-fullwidth">
                <button class="button is-primary">Пройти опрос</button>
              </div>
            </div>
          </a>
        </div>

        <div class="column">
          <a class="survey-card card">
            <div class="card-header">
              <span class="tag">Опрос</span>
              <div class="tag-group tag-group-column">
                <div class="tag tag-transparent is-right">20 вопросов</div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-header-title">Насколько вы соблюдаете самоизоляцию?</div>
              <p class="paragraph">Опрос, как часто вы выходите из дома по своим делам на самоизоляции</p>
            </div>
            <div class="card-content-image">
              <img src="https://fakeimg.pl/320x440/282828/eae0d0/?retina=1"/>
            </div>
            <div class="card-footer">
              <div class="buttons is-flexible is-fullwidth">
                <button class="button is-primary">Пройти опрос</button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
