.card {
  &:not(:last-child) {
    margin-bottom: $pdLarge;
  }
  &-form {

  }
  &-form-header {
    display: flex;
    justify-content: center;
    padding: $pdLarge;
    padding-bottom: 0;
    position: relative;
  }
  &-form-header-logo {

  }
  &-form-footer {
    padding: $pdLarge;
    padding-top: 0;
    &-links {
      text-align: center;
      .link {
        font-size: $fontSizeSmall;
      }
    }
  }
  &.card-outlined {
    box-shadow: none;
    border-radius: $radius-rounded;
    border: $borderBase;
  }
}
