.card {
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: $pdLarge;
  }
  &:hover {
    box-shadow: $shadowGreyDark;
  }
  &-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    padding: $pdLarge $pdLarge 0 $pdLarge;
  }
  &-header-title {
    padding: 0;
    margin-bottom: $pdMed;
  }
  &-content {
    font-size: 1em;
  }
  &-content-image {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    img {
      display: block;
      position: absolute;
      width: 100%;
      height: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &-footer {
    padding: $pdSmall;
    height: 52px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &-form {

  }
  &-form-header {
    display: flex;
    justify-content: center;
    padding: $pdLarge;
    padding-bottom: 0;
    position: relative;
  }
  &-form-header-logo {

  }
  &-form-footer {
    padding: $pdLarge;
    padding-top: 0;
    &-links {
      text-align: center;
      .link {
        font-size: $fontSizeSmall;
      }
    }
  }
  &.card-outlined {
    box-shadow: none;
    border-radius: $radius-rounded;
    border: $borderBase;
  }
  @media screen and (max-width: 767px) {
    &-header {
      padding: $pdMed $pdMed 0 $pdMed;
    }
    &-content {
      padding: $pdMed;
    }
  }
}

.survey-card.card {
  height: 100%;
  position: relative;
  padding-bottom: 52px;
  &.type-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 0;
    .card-content {
      flex: 1 1 auto;
      flex-basis: 60%;
    }
    .card-footer {
      flex: 0 1 auto;
      position: relative;
      width: auto;
      max-width: 200px;
      height: auto;
      padding: 0;
      margin: $pdLarge;
      .buttons .button {

      }
    }
  }
}
.news-card.card {
  height: 100%;
  border-radius: $radius-rounded;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.important-news {
    border: 2px solid $primary;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: $radius-rounded;
    text-align: center;
    &:hover {
      border-color: lighten($primary, 5%);
      box-shadow: $shadowPrimary;
    }
    .title {
      font-size: 2.625em;
    }
    .paragraph {
      width: 100%;
      max-width: 480px;
      margin: 0 auto;
      font-size: 1em;
    }
  }
  @media screen and (max-width: 767px) {
    &.important-news {
      .title {
        font-size: 1.5em;
      }
    }
  }
}
