.has-border {
  &-bottom {
    border-bottom: $borderBase;
  }
  &-top {
    border-top: $borderBase;
  }
}
.is-absolute {
  &-right {
    position: absolute;
    right: 0;
  }
}

.media-left {
  margin-right: 1.5rem;
}
.is-route {
  cursor: pointer;
}
.is-fullwidth {
  width: 100% !important;
}
.is-fullheight {
  height: 100% !important;
}
