body {
  font-family: Roboto, Arial, sans-serif;
}
main {
  min-height: calc(100vh - 315px);
}

.wrapper {
  width: 100%;
  padding: $pdLarge * 2 0 $pdLarge 0;
  .container {
    padding: 0 18px;
  }
}
.content {
  width: 100%;
  max-width: 860px;
  &:not(:last-child) {
    margin-bottom: $pdLarge + $pdReg;
  }
  &-row{
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    .container {
      padding: 0;
    }
  }
}
@media screen and (min-width: 1408px) {
  .container {
    max-width: 1152px;
  }
}

@import "layout/navigation";
@import "layout/footer";
