/*COLORS*/

/*main colors*/
$primary:                 #1A76DC;
$primaryDark:             #004FA8;
$primaryLight:            #3CB9EE;
$grey:                    #8C9FB1;
$greyLight:               #E3EDF7;
$greyLighter:             #E8E8E8;
$greyDark:                rgba($grey, .8);
$white:                   #ffffff;
$black:                   #000000;
$fontBlack:               rgba($black, .75);
$fontBlackHover:          rgba($black, 1);
$elementHover:            #fafafa;
$borderColor:             #E5E5E5;
/*additional colors*/
$darkBlue:                #31456A;
$lightGreen:              #2ED47A;
$green:                   #0EB75C;
$lightOrange:             #FFA14A;

/*BORDERS & RADIUS*/
$radius-rounded:          4px;
$borderBase:              1px solid #E5E5E5;
/*SHADOWS*/
$shadowPrimary:           0px 4px 10px rgba($primary, 0.24);
$shadowPrimaryDark:       0px 4px 10px rgba($primaryDark, 0.24);
$shadowPrimaryLight:      0px 4px 10px rgba($primaryLight, 0.24);
$shadowGreyLight:         0px 4px 10px rgba($greyLight, 0.25);
$shadowGrey:              0px 4px 10px rgba($grey, 0.25);
$shadowGreyDark:          0px 4px 10px rgba($greyDark, .25);

/*fixed font sizes*/
$fontSizeTiny:            10px;
$fontSizeReg:             16px;
$fontSizeNormal:          14px;

/*paddings & margins*/
$pdBase:                 4px;
$pdReg:                  $pdBase*3;
$pdSmall:                $pdBase*2;
$pdLarge:                $pdBase * 6;
