<main class="news wrapper">
  <div class="news-container container">
    <div class="content">
      <div class="columns">
        <div class="column is-fullwidth">
          <div class="news-card important-news card" routerLink="/pages/article">
            <div class="card-top">
              <div class="card-header">
                <div class="tag-group">
                  <span class="tag has-margin-right-5">Новость</span>
                  <span class="tag tag-orange has-margin-right-5">Важно</span>
                </div>
                <div class="tag-group">
                  <div class="tag tag-transparent is-right">3 часа назад</div>
                </div>
              </div>
              <div class="card-content">
                <div class="title">Телемедицина в России: сегодня и завтра</div>
                <p class="paragraph">Россияне знают о телемедицине, а каждый второй допускает возможность дистанционной консультации у врача.</p>
              </div>
            </div>
            <div class="card-bottom"></div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="news-card card" routerLink="/pages/article">
            <div class="card-top">
              <div class="card-header">
                <div class="tag-group">
                  <span class="tag">Новость</span>
                </div>
                <div class="tag-group">
                  <div class="tag tag-transparent is-right">12 часов назад</div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-header-title">Рынок труда больше не будет прежним</div>
                <p class="paragraph">28 мая 2020 года в 11:00 в рамках второго этапа Московского международного салона образования Национальное агентство развития квалификаций проведет веб-конференцию «Рынок труда не будет больше прежним</p>
              </div>
            </div>
            <div class="card-bottom"></div>
          </div>
        </div>
        <div class="column">
          <div class="news-card card" routerLink="/pages/article">
            <div class="card-top">
              <div class="card-header">
                <div class="tag-group">
                  <span class="tag">Новость</span>
                </div>
                <div class="tag-group">
                  <div class="tag tag-transparent is-right">12 часов назад</div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-header-title">Гражданская активность и общественные проблемы</div>
                <p class="paragraph">Гражданская активность россиян чаще всего принимает вид нематериальной помощи нуждающимся, голосования на выборах, и жертвования денег на общественно полезные цели.</p>
              </div>
            </div>
            <div class="card-bottom"></div>
          </div>
        </div>
        <div class="column">
          <div class="news-card card" routerLink="/pages/article">
            <div class="card-header">
              <div class="tag-group">
                <span class="tag">Новость</span>
              </div>
              <div class="tag-group">
                <div class="tag tag-transparent is-right">12 часов назад</div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-header-title">Динамика потребительских настроений в марте 2020 года</div>
              <p class="paragraph">Март 2020 года ознаменовался самым резким снижением потребительских настроений с момента мирового финансового кризиса. Сильнее всего ухудшились ожидания в отношении личных доходов и экономики страны...</p>
            </div>
          </div>
        </div>
      </div>


      <div class="columns">
        <div class="column">
          <div class="news-card card" routerLink="/pages/article">
            <div class="card-top">
              <div class="card-header">
                <div class="tag-group">
                  <span class="tag">Новость</span>
                </div>
                <div class="tag-group">
                  <div class="tag tag-transparent is-right">12 часов назад</div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-header-title">Динамика потребительских настроений в марте 2020 года</div>
                <p class="paragraph">Март 2020 года ознаменовался самым резким снижением потребительских настроений с момента мирового финансового кризиса. Сильнее всего ухудшились ожидания в отношении личных доходов и экономики страны...</p>
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-content-image">
                <img src="https://fakeimg.pl/440x320/282828/eae0d0/?retina=1"/>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="news-card card" routerLink="/pages/article">
            <div class="card-top">
              <div class="card-header">
                <div class="tag-group">
                  <span class="tag">Новость</span>
                </div>
                <div class="tag-group">
                  <div class="tag tag-transparent is-right">12 часов назад</div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-header-title">Рынок труда больше не будет прежним</div>
                <p class="paragraph">28 мая 2020 года в 11:00 в рамках второго этапа Московского международного салона образования Национальное агентство развития квалификаций проведет веб-конференцию «Рынок труда не будет больше прежним</p>
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-content-image">
                <img src="https://fakeimg.pl/440x320/282828/eae0d0/?retina=1"/>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="news-card card" routerLink="/pages/article">
            <div class="card-top">
              <div class="card-header">
                <div class="tag-group">
                  <span class="tag">Новость</span>
                </div>
                <div class="tag-group">
                  <div class="tag tag-transparent is-right">12 часов назад</div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-header-title">Гражданская активность и общественные проблемы</div>
                <p class="paragraph">Гражданская активность россиян чаще всего принимает вид нематериальной помощи нуждающимся, голосования на выборах, и жертвования денег на общественно полезные цели.</p>
              </div>
            </div>
            <div class="card-bottom">
              <div class="card-content-image">
                <img src="https://fakeimg.pl/440x320/282828/eae0d0/?retina=1"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-fullwidth">
          <div class="readmore">
            <h5 class="readmore-title">Читайте также</h5>
            <div class="readmode-content">
              <a class="readmore-item">Рейтинги доверия политикам, оценки работы президента и правительства, поддержка политических партий</a>
              <a class="readmore-item">Онлайн-заседание экспертного штаба «Волга»</a>
              <a class="readmore-item">Цифровая грамотность и удаленная работа в условиях пандемии</a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="news-card card" routerLink="/pages/article">
            <div class="card-top">
              <div class="card-header">
                <div class="tag-group">
                  <span class="tag">Новость</span>
                </div>
                <div class="tag-group">
                  <div class="tag tag-transparent is-right">12 часов назад</div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-header-title">Рынок труда больше не будет прежним</div>
                <p class="paragraph">28 мая 2020 года в 11:00 в рамках второго этапа Московского международного салона образования Национальное агентство развития квалификаций проведет веб-конференцию «Рынок труда не будет больше прежним</p>
              </div>
            </div>
            <div class="card-bottom"></div>
          </div>
        </div>
        <div class="column">
          <div class="news-card card" routerLink="/pages/article">
            <div class="card-header">
              <div class="tag-group">
                <span class="tag">Новость</span>
              </div>
              <div class="tag-group">
                <div class="tag tag-transparent is-right">12 часов назад</div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-header-title">Динамика потребительских настроений в марте 2020 года</div>
              <p class="paragraph">Март 2020 года ознаменовался самым резким снижением потребительских настроений с момента мирового финансового кризиса. Сильнее всего ухудшились ожидания в отношении личных доходов и экономики страны...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="loadmore">
            <button class="button is-outlined">Загрузить еще</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
