<main class="elements wrapper">
  <div class="elements-container container">
    <h1 class="title has-border-bottom">Элементы</h1>
    <div class="content">
      <div class="columns is-desktop">
        <div class="column">
          <div class="box is-route is-full-height" routerLink="/elements/buttons">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#button"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Кнопки</h4>
                  <p class="subtitle">Классические кнопки, разных цветов, размеров и состояний </p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="column">
          <div class="box is-route is-full-height" routerLink="/elements/forms">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#forms"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Элементы форм</h4>
                  <p class="subtitle">Незаменимые элементы управления формами, разработанные для максимальной наглядности</p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="column">
          <div class="box is-route is-full-height" routerLink="/elements/popups">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#popup"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Попапы</h4>
                  <p class="subtitle">Всплывающие окна, тултипы, контекстные меню</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="columns is-desktop">
        <div class="column">
          <div class="box is-route is-full-height" routerLink="/elements/modals">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#modal"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Модальные окна</h4>
                  <p class="subtitle">Классический модальный оверлей, в который можно внести контент любого типа</p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="column">
          <div class="box is-route is-full-height">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#fa-box"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Карточки</h4>
                  <p class="subtitle">Пока без описания</p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="column">
          <div class="box is-route is-full-height" routerLink="/elements/icons">
            <article class="media">
              <div class="media-left">
                <svg class="icon icon-primary icon-large" width="32px" height="32px">
                  <use xlink:href="#fa-flag-dot"></use>
                </svg>
              </div>
              <div class="media-content">
                <div class="content">
                  <h4 class="title">Иконки</h4>
                  <p class="subtitle">иконографика и как ее испольщзовать через встроенный спрайт</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
