<div class="mat-dialog-box is-big">
  <div class="mat-dialog-close" mat-dialog-close>
    <svg class="icon" width="12px" height="12px">
      <use xlink:href="#fa-close"></use>
    </svg>
  </div>
  <div class="content">
    <h2 class="title" mat-dialog-title>Большая модалка. Больше текста. Больше всего.</h2>
    <div mat-dialog-content>
      <div class="content">
        <h2 class="title">Глава 1. Мальчик, который выжил</h2>
        <p class="paragraph">Мистер и миссис <em>Дурсль</em> проживали в доме номер четыре по Тисовой улице и всегда с гордостью заявляли, что они, слава богу, абсолютно нормальные люди. Уж от кого-кого, а от них никак нельзя было ожидать, чтобы они попали в какую-нибудь странную или загадочную ситуацию. Мистер и миссис <em>Дурсль</em> весьма неодобрительно относились к любым странностям, загадкам и прочей ерунде.</p>
        <p class="paragraph"><strong>Мистер <em>Дурсль</em></strong> возглавлял фирму под названием <em>«Граннингс»</em>, которая специализировалась на производстве дрелей. Это был полный мужчина с очень пышными усами и очень короткой шеей. Что же касается миссис <em>Дурсль</em>, она была тощей блондинкой с шеей почти вдвое длиннее, чем положено при ее росте. Однако этот недостаток пришелся ей весьма кстати, поскольку большую часть времени миссис <em>Дурсль</em> следила за соседями и подслушивала их разговоры. А с такой шеей, как у нее, было очень удобно заглядывать за чужие заборы. У мистера и миссис <em>Дурсль</em> был маленький сын по имени Дадли, и, по их мнению, он был самым чудесным ребенком на свете.</p>
        <h3 class="title">Действующие лица</h3>
        <img src="../../../../../../../assets/img/hagrid.png"/>
        <ul>
          <li><strong>Вернон Дурсль</strong> — муж родной тётки Гарри Поттера с материнской стороны. Магл до мозга костей, человек, совершенно лишённый воображения</li>
          <li><strong>Петуния Дурсль</strong> — старшая дочь Мистера и Миссис Эванс, сестра маглорожденной волшебницы Лили Эванс.
            В отличие от сестры, не обладала волшебными способностями и очень расстраивалась из-за этого</li>
          <li><strong>Дадли Дурсль</strong> — двоюродный брат Гарри Поттера, старше его на месяц. На его одиннадцатый День рождения случилось неприятное происшествие с удавом, после которого Гарри Поттера наказали «до наступления летних каникул».</li>
        </ul>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <div class="buttons">
      <button class="button" mat-button mat-dialog-close mat-dialog-close="false">Закрыть</button>
      <button class="button is-primary" mat-button mat-dialog-close>Тоже закрыть</button>
    </div>
  </mat-dialog-actions>
</div>
